@using Ecommerce.Models
@model Product

<h2>Edit product</h2>
<form method="post">

    <label asp-for="Title"></label><br>
    <input asp-for="Title"><br>
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label asp-for="Description"></label><br>
    <input asp-for="Description"><br>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label asp-for="ISBN"></label><br>
    <input asp-for="ISBN"><br>
    <span asp-validation-for="ISBN" class="text-danger"></span>
    <br />
    <label asp-for="Author"></label><br>
    <input asp-for="Author"><br>
    <span asp-validation-for="Author" class="text-danger"></span>
    <br />
    <label asp-for="ListPrice"></label><br>
    <input asp-for="ListPrice"><br>
    <span asp-validation-for="ListPrice" class="text-danger"></span>
    <br />
    <label asp-for="Price"></label><br>
    <input asp-for="Price"><br>
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <label asp-for="Price50"></label><br>
    <input asp-for="Price50"><br>
    <span asp-validation-for="Price50" class="text-danger"></span>
    <br />

    <label asp-for="Price100"></label><br>
    <input asp-for="Price100"><br>
    <span asp-validation-for="Price100" class="text-danger"></span>
    <br />
    <input type="submit" value="Submit">

    <a asp-controller="Product" asp-action="Index" class="btn">return to list</a>
</form>