@using Ecommerce.Models
@model OrderVM

<h2> Product List </h2>

<table id="tblData" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th>Function</th>
        </tr>
    </thead>
       
 </table>

 @section Scripts {
     <script src="~/js/order.js"></script>
 }
